<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8FnGhK82vTCObahIwmaIgj29Q7DS80tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>133300795589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlKit</string>
	<key>PROJECT_ID</key>
	<string>ml-kit-stuff-d9eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-kit-stuff-d9eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133300795589:ios:39921c8224cb12d55358ac</string>
</dict>
</plist>